body {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}

h1{
    color: white !important;
}

.white{
    color: white;
}

body {
    font-family: Chewy;
}

.panel{
    background-color: rgba(255, 255, 255, 0.7);
}

.panel > .panel-body{
    font-size: 17px;
}

.titulo{
    text-shadow: -3px 2px #040404;
    font-size: 100px;
    color: #773333;
    margin-left: calc(50% - 225px);
}