{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog do Jajá</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
                <label class="titulo"><a href="/">Blog do Jajá</a></label>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="display: inline-block; width: 70%">
                        <label style="font-size: 30px">{{ post.titulo}}</label>
                    </div>
                    <div style="display: inline-block; text-align: right; width: 28%">
                        <label>Publicado em: {{ post.data_publicacao }}</label><br>
                        <label>Esse post tem {{ post.visualizacoes}} visualizações!</label>
                    </div>
                </div>
                <div class="panel-body">
                    <p>{{ post.texto|linebreaksbr}}</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label style="font-size: 30px">Comentários</label>
                        </div>
                        <div class="panel-body">
                            {% for comentario in comentarios %}
                                <div>
                                    <div style="display: inline-block">
                                        <img src="{% static 'img/user.svg' %}" style="width: 65px">
                                    </div>
                                    <div style="display: inline-block">
                                        <label style="margin-bottom: 0;">{{ comentario.autor.username }}</label><br>
                                        <label style="font-size: 10px; position: absolute">Em: {{ comentario.data }}</label>
                                    </div>
                                </div>
                                <p>{{ comentario.texto|linebreaksbr }}</p>
                                <hr>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <form method="POST" class="form-row" style="margin-right: 30px;">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="save btn btn-default">Comentar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<label class="titulo" style="color: white">Thanks!</label>
</body>
</html>