{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog do Jajá</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
                <label class="titulo">Blog do Jajá</label>
                <label style="font-size: 25px"><a href="new">Novo Post </a></label>
            </div>
            {% for post in posts %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label style="font-size: 30px"><a href="/post/{{ post.id }}">{{ post.titulo }}</a></label>
                    <label style="float: right">Publicado em: {{ post.data_publicacao }}</label>
                </div>
                <div class="panel-body">
                    <p>{{ post.texto|linebreaksbr}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<label class="titulo" style="color: white">Thanks!</label>
</body>
</html>