{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog do Jajá</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="/logout/" class="sair">
            <label>Sair</label><span class="glyphicon glyphicon-log-out"></span>
        </a>
        <div class="row">
            <div>
                <label class="titulo"><a href="/">Blog do Jajá</a></label>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <label style="font-size: 30px;">Criar novo usuário</label>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <form method="POST" id="newPost" class="form-row" style="margin-right: 30px;">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="save btn btn-default">Criar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>